<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SPA Framework</title>
        <!-- Bootstrap core CSS-->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin.css" rel="stylesheet">
    </head>
    <style type='text/css'>
        @font-face{font-family:'NotoSansCJKkr'; src:url('/fonts/NotoSansCJKkr-Thin.otf')}
    </style>
    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-light static-top" style="height:90px">
            <a href="/spa" class="navbar-brand col-lg-3 mr-2" style="color:black">
            <div>
             <img src="/img/logo.png">
            </div>
            </a>
            <div class="navbar-brand col-lg-3">
                <a href="/spa/predict" class="dropdown-item">Estimation</a>
            </div>
            <div class="navbar-brand col-lg-3">
                <a href="/spa/statistics" class="dropdown-item">Param Statics</a>
            </div>
        </nav>
        <div id="main_img" style="width:1620px height:680px position:relative">
            <img src="/img/img1.jpg" alt="연구실로고">
            <div class="text_from_img_eng" style="position:absolute; top:50%; left:37%">
                <h2>
                    <span>
                        <em style="color:white; font-size:60px; font-family:NotoSansCJKkr"> KNU DKE LAB</em>
                    </span>
                </h2>
                <div class="text_from_img_kor">
                    <p style="color:white; font-size:25px; font-family:NotoSansCJKkr"> 경북대학교 데이터 및 지식공학 연구실 </p>
                </div>
            </div>
        </div>
        
        
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="vendor/chart.js/Chart.min.js"></script>
        <script src="vendor/datatables/jquery.dataTables.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin.min.js"></script>
        <!-- Demo scripts for this page-->
        <script src="js/demo/datatables-demo.js"></script>
        <script src="js/demo/chart-area-demo.js"></script>
    </body>


</html>