<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/vendor/chart.js/Chart.min.js"></script>
        <script src="/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin.min.js"></script>
        <!-- Demo scripts for this page-->
        <script src="/js/demo/datatables-demo.js"></script>
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/fun.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SPA Framework</title>
        <!-- Bootstrap core CSS-->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="/css/sb-admin.css" rel="stylesheet">
		<link href="/css/mycss.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-light static-top" style="height:90px">
            <a href="/spa" class="navbar-brand col-lg-3 mr-2" style="color:black">
            <div>
             <img src="/img/logo.png">
            </div>
            </a>
			
			<button class="col-lg-4 my-menu" OnClick="location.href='/spa/predict'">Estimation</button>
			<button class="col-lg-4 my-menu" OnClick="location.href='/spa/statistics'">Param Statistics</button>
		<!--
            <div class="navbar-brand col-lg-3">
                <a href="/spa/predict" class="dropdown-item">Estimation</a>
            </div>
            <div class="navbar-brand col-lg-3">
                <a href="/spa/statistics" class="dropdown-item">Param Statics</a>
            </div>
		-->
        </nav>
            <div id="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Job Completion Time Estimation</li>
                    </ol>
                </div>
                <!-- Body-->
                <div class="container-fluid">
                    <div class="cluster-box mybox" style="float: left; width:50%;">
						<br>
                        <p class="h2">Cluster Box</p>
                        <br>
                        <p>
                            <select id="cluster_box" onchange="getScienceAppName()">
                                <option value="null" selected="">--choice--
                                </option>
								<% for(var i=0; i<cluster.length; i++) { %>
								<option value=<%=cluster[i]%>><%=cluster[i]%></option>
								<% } %>
                            </select>
							<!--
                            <button type="button" name="next1" onclick="getScienceAppName()" value="Next" class="btn btn-primary">Next</button>
                            <button type="button" name="back1" onclick="reset_scienceappname_box()" value="Back" class="btn btn-primary">Back</button>-->
                        </p>
                    </div>
                    <div class="science-app-name-box mybox box-line" style="float: left; width:50%;">
                        <br>
                        <p class="h2">Science App Name Box</p>
                        <br>
                        <p>
                            <select id="scienceappname_box" onchange="getParameter()">
                                <option vaule="null" selected="">--choice--</option>
                            </select>
							<!--
                            <button type="button" name="next2" onclick="getParameter()" value="Next" class="btn btn-primary">Next</button>
                            <button type="button" name="back2" onclick="reset_parameter_table()" value="Back" class="btn btn-primary">Back</button>-->
                            <br>
                        </p>
                    </div>
                    <p>
                        <div class="card mb-3"></div>
                        <div class="card-header">
                            <i class="fas fa-table">Parameter Table</i>
                        </div>
                        <div class="parameter-table" >
                            <div class="table-responsive">
                                <table id="parameter_table" width="10%" cellspacing="0" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Parameter</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="button" name="send" onclick="getResult()" value="Estimate Time" class="btn btn-primary">Estimate Time</button>
                            <button type="button" name="reset" onclick="reset_all_predict()" value="Reset" class="btn btn-primary">Reset</button>
                        </div>
                    </p>
                    <div class="result">
                        <p class="h3">Result</p>
                        <p>
                            <label id="result">실행시간을 예측할 시뮬레이션과 파라미터를 입력해주세요</label>
                        </p>
                    </div>
                </div>
                <!-- Sticky Footer-->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © DKE Lab @ KNU</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>

</html>