<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/vendor/chart.js/Chart.min.js"></script>
        <script src="/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin.min.js"></script>
        <!-- Demo scripts for this page-->
        <script src="/js/demo/datatables-demo.js"></script>
        <script src="/js/demo/chart-area-demo.js"></script>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/fun.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SPA Framework</title>
        <!-- Bootstrap core CSS-->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="/css/sb-admin.css" rel="stylesheet">
		<link href="/css/mycss.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a href="/spa" class="navbar-brand mr-1">SPA Framework</a>
            <button id="sidebarToggle" href="#" class="btn btn-link btn-sm text-white order-1 order-sm-0">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
        <div id="wrapper">
            <!-- Sidebar-->
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <a href="/spa" class="nav-link">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Home</span>
                    </a>
                </li>
                <!-- Content no list modeli.nav-item
  a.nav-link(href='/spa/predict')
    i.fas.fa-fw.fa-tachometer-alt
    span Time Estimation
li.nav-item
  a.nav-link(href='/spa/statistics')
    i.fas.fa-fw.fa-table
    span Param Statistics-->
                <!-- Content list mode -->
                <li class="nav-item dropdown">
                    <a id="pagesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Services</span>
                    </a>
                    <div aria-labelledby="pagesDropdown" class="dropdown-menu">
                        <!-- h6.dropdown-header Login Screens:-->
                        <a href="/spa/predict" class="dropdown-item">Estimation</a>
                        <a href="/spa/statistics" class="dropdown-item">Param Statics</a>
                        <!-- divide line.dropdown-divider
h6.dropdown-header Other Pages:
a.dropdown-item(href='404.html') 404 Page
a.dropdown-item(href='blank.html') Blank Page-->
                    </div>
                </li>
            </ul>
            <div id="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Job Parameter Statistics</li>
                    </ol>
                </div>
                <!-- Body-->
				
                <div class="container-fluid">
                    <div class="cluster-box mybox" style="float: left; width:50%;">
						<br>
                        <p class="h2">Cluster Box</p>
                        <br>
                        <p>
                            <select id="cluster_box" onchange="getScienceAppName()">
                                <option value="null" selected="">--choice--</option>
								
								<% for(var i=0; i<cluster.length; i++) { %>
								<option value=<%=cluster[i]%>><%=cluster[i]%></option>
								<% } %>
                            </select>
							<!--
                            <button type="button" name="next1" onclick="getScienceAppName()" value="Next" class="btn btn-primary">Next</button>
                            <button type="button" name="back1" onclick="reset_scienceappname_box()" value="Back" class="btn btn-primary">Back</button>-->
							<br>
                        </p>
                    </div>
                    <div class="science-app-name-box mybox box-line" style="float: left; width:50%;">
						<br>
                        <p class="h2">Science App Name Box</p>
                        <br>
                        <p>
                            <select id="scienceappname_box" onchange="getResult_statistics()">
                                <option vaule="null" selected="">--choice--</option>
                            </select>
							<!--
                            <button type="button" name="next2" onclick="getResult_statistics()" value="Next" class="btn btn-primary">Next</button>
                            <button type="button" name="back2" onclick="reset_parameter_table()" value="Back" class="btn btn-primary">Back</button>-->
                            <br>
                        </p>
                    </div>
					<p>
                        <div class="card mb-3"></div>
                        <div class="card-header">
                            <i class="fas fa-table">Parameter Rank Top
                                <br>
                                <br>
                                <select id="indexcount_box" name="dataTable_length" onchange="getResult_statistics()" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="5">5</option>
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </i>
                        </div>
                        <div class="parameter-table">
                            <div class="table-responsive">
                                <table id="parameter_table" width="10%" cellspacing="0" class="table table-bordered">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="reset-button">
                            <button type="button" name="reset" onclick="reset_all()" value="Reset" class="btn btn-primary">Reset</button>
                        </div>
                    </p>
                </div>
                <!-- Sticky Footer-->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © DKE Lab @ KNU</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>

</html>