div.box-line {
	border-left: 2px dashed rgba(0,0,0,.125);
}
div.mybox {
	border-top: 2px solid rgba(0,0,0,.125);
	text-align:center;
}
/*
html,body {
	margin: 0;
    height: 100%;
    overflow: hidden;
	background-color: gray;
}*/

#main-background {
	width:100vw;height:100vh;
	background-image: url('/img/img1.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	position: absolute;
	border: 50px;
}
/*
#main-background {
	width : 100 %;
	height : 0;
	padding-top : calc (1080 / 1920 * 100 %); 
	background-image : url ('/img/img1.jpg') center center / cover no-repeat;
}*/

div.main-text-wrapper {
	width: inherit; height: 100%;
	padding: 10% 0px;
}

div.my-textbox {
	text-align: center;
}

div.main-text-eng {
	color:white;
	font-size:60px;
	font-family:NotoSansCJKkr;
}

div.main-text-kor {
	color:white;
	font-size:25px;
	font-family:NotoSansCJKkr
}

.sticky-footer {
    width: 100vw; height: 100vh;
}