div.box-line {
	border-left: 2px dashed rgba(0,0,0,.125);
}
div.mybox {
	border-top: 2px solid rgba(0,0,0,.125);
	text-align:center;
}
/*
html,body {
	margin: 0;
    height: 100%;
    overflow: hidden;
	background-color: gray;
}*/

#main-background {
	width:100vw;height:100vh;
	background-image: url('/img/img1.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	position: absolute;
	border: 50px;
}

.my-menu {
	background-color: inherit;
	border: none;
	padding: 18px 28px;
  text-align: center;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
}
.my-menu:active {
	border:none;
	outline:none;
}
.my-menu:hover {
  color: red;  
}
div.main-text-wrapper {
	width: inherit; height: 100%;
	padding: 10% 0px;
}

div.my-textbox {
	text-align: center;
}

div.main-text-eng {
	color:white;
	font-size:60px;
	font-family:NotoSansCJKkr;
}

div.main-text-kor {
	color:white;
	font-size:25px;
	font-family:NotoSansCJKkr
}

.sticky-footer {
    width: 100vw; height: 100vh;
}
.my-menu {
	background-color: inherit;
	border: none;
	padding: 18px 28px;
  text-align: center;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
}
.my-menu:active {
	border:none;
	outline:none;
}
.my-menu:hover {
  color: red;  
}

.my-menu:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scale(0);
  transition: all 0.2s;
}

.my-menu:hover:before {
  background: red;
  transform: scale(1);
}